<div class="headingsearchbar">
<h1 class="petsheading"> Pets </h1>

<form class="searchbar" action="/pets/search" method="GET">
    <label for="search"></label>
    <input class="searchbox" type= "text" name ="input" />
    <input class="submit" type="submit" value="Search"/>
</div>
<div class="Filter">
<a class="active" href="/pets">All</a>
<a href="/pets/trained">Trained</a>
<a href="/pets/untrained">Untrained</a>
</div>

<div class="allpets">

<% @pets.each do |pet| %>
<div class="petdisplay">

<p class="petname"><a href="/pets/<%=pet.id%>"><%= pet.name %></a> <%= pet.date_arrived %> </p>
<div class="petimage">
<a href="/pets/<%=pet.id%>"><img src="/<%= pet.picture%>" alt=""></a>
</div>

<p class="viewpet"> <a href="/pets/<%=pet.id%>">View</a></p>


</div>

<% end %>

</div>
